/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: medium;
  }
  
  article {
  
  }
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
  }
  
  main {
  
  }
  
  section {
    display: flex;
    flex-direction: column;
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (max-width: 450px) {
    body {
      font-size: larger;
      margin: 1rem;
    }

    h1{
      font-size: 25px;
    }

    section {
      display: flex;
      flex-direction: row;
    }

    .row-colunm1 .row-colunm2 {
      display: flex;
      flex-flow: column wrap;      
    }

    figure {
      padding: 10px;
    }
  }