body{
    margin: auto;
    color: aliceblue;
    font-weight: 700;
}

h1 {
    display: flex;
    justify-content: center;
    color: rgba(35, 94, 35, 0.623);
}

.form-trip {
    border: solid black 1px;
    border-radius: 12px;
    padding: 2rem;
    width: 35%;
    margin: auto;
    background-color: rgba(35, 94, 35, 0.623);
}
fieldset {
    color: aliceblue;
    font-weight: 700;
}

legend {
    color: aliceblue;
}

textarea  {
    border-radius: 10px;
    text-align: start;
    
}
.btn {
    display: flex;
    justify-content: end;
    margin-top: 2rem;
}

button {
    border-radius: 5px;
    font-weight: bold;
    margin-right: 1rem;   
    justify-content: end;
    margin-top: 2rem;
    padding: 1rem;
    background-color: rgb(9, 52, 17);
    color: aliceblue;
   
}

.redondo {
    border-radius: 20px;
    border: none;

}

input {
    margin: 0.7rem;
    padding: 1rem;
}

#input-enviar {
    text-align: center;
    border-radius: 5px;
    font-weight: bold;

    padding: 1rem;
    margin: 0;
    margin-top: 2rem;

    background-color: rgb(9, 52, 17);
    color: aliceblue;
}

#input-apagar::after {
    background-color: rgba(9, 52, 17, 0.358);
}