body{
    margin: auto;
}

h1 {
    display: flex;
    justify-content: center;
}

.form-trip {
    border: solid black 1px;
    padding: 2rem;
    width: 35%;
    margin: auto;
}

button {
    margin-right: 1rem;
}

.btn {
    display: flex;
    justify-content: end;
    margin-top: 2rem;
}

input {
    margin: 0.7rem;
    padding: 1rem;
}